.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portfolio {
  width: 900px;
  margin: auto;
  column-count: 3;
  column-gap: 10px;
}

.portfolio .portfolio-item img {
  width: 100%;
  margin: 4px 0;
}

.toolbar {
  width: 100%;
  column-span: all;
  margin: 10px 0;
}

.toolbar .toolbar-btn,
.toolbar .selected-btn {
  font-size: 20px;
  margin-right: 5px;
  background: none;
  border: 1px solid #555555;
  color: #555555;
}

.toolbar .toolbar-btn:hover,
.toolbar .selected-btn {
  background-color: #555555;
  color: white;
}